$border-color: var(--color-hex);
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
.goal-card {
  border: 1px solid var(--color-hex);
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-content {
    &-top {
      &:hover {
        // background-color: red;
        // @include size(1rem, 2rem)
      }
    }
  }

  &-title {
    cursor: pointer;
  }

}
